<div id="records" class='pagination_container ui segment'>
  <% if @teams.any? %>
    <%= render 'teams' %>
  <% else %>
    <p>
      <% if searching? %>
        <%= t('no_results', :scope => 'refinery.admin.search') %>
      <% else %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% end %>
    </p>
  <% end %>
</div>
